body {
  margin-top: 80px;
}

a {
  text-decoration: none;
}

.title {
  font-size: .88rem;
  font-weight: 600;
  margin-top: 2px;
  color: #ffc107;
}

.teamus-yellow-text {
  color: #ffc107;
}

.teamus-yellow-bg {
  background-color: #ffc107;
}

.teamus-gray-text {
  color: #777788;
}

.teamus-gray-bg {
  background-color: #777788;
}

.teamus-dark-gray-text {
  color: #333333;
}

.teamus-dark-gray-bg {
  background-color: #333333;
}

.teamus-darker-bg {
  background-color: #111111;
}

.teamus-red-text {
  color: #ff7788;
}

.teamus-blue-text {
  color: #8877ff;
}

.teamus-green-text {
  color: #77ff88;
}

.date {
  font-size: .75rem;
}

.teamus-btn-wd {
  min-width: 230px !important;
}

.teamus-btn-md {
  width: 160px;
}

.year-taken{
  color: #222222;
}

.about_container {
  padding: 15px;
  background-color:#777788;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.add_title_container {
  padding: 15px;
  background-color: #222222;
  border-radius: 8px;
  color: #dddddd;
}

.update_title_container {
  padding: 15px;
  background-color: #ffc107;
  border-radius: 8px;
  color: #222222;}

.add_update_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  border-radius: 8px;
}

.modal_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.all-members-container {
  background-color: #bbbbbb;
  padding: 15px;
  border-radius: 8px;
}

.member-container {
  background-color: #333333;
  padding: 15px;
  border-radius: 4px;
}

.active {
  background-color:#111111 !important;
}

.teamus_year {
  height: 35px;
  width: 75px;
  border-radius: 4px;
  border: 0px;
}

.photo-message {
  background-color: #222222;
  border-radius: 8px;
  color: #8877ff;
}

.favorites {
  padding: 4px 8px 4px 8px;
  background-color: #2a2a2a;
  border-radius: 4px;
  color: #ff7788;
}

.comments {
  padding: 4px 8px 4px 8px;
  background-color: #2a2a2a;
  border-radius: 4px;
  color: #8877ff;
  margin-right: 4px;
}

.comment {
  font-size: .85rem;
  background-color: #cccccc;
  border-radius: 4px;
  padding: 5px;
  margin-left: 12px;
  margin-bottom: 5px;
}

.add-button {
  padding: 5px 10px 5px 10px;
  background-color: #222222;
  width: 180px;
  color: #d5d5d5;
  border-radius: 4px;
  border-width: 0px;
}

#image-here {
  width: 400px;
}

.teamus-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.multi-height {
  height: 50px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .teamus-container {
    max-width: 540px; /* sm */
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .teamus-container {
    max-width: 720px; /* md */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .teamus-container {
    max-width: 960px; /* lg */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .teamus-container {
    max-width: 1140px; /* xl */
  }
  .multi-height {
    height: 100px;
  }
}

/* Style the dropdown button */
.dropdown-toggle {
  background-color: #222222;
  border: 0px !important;
  color: #d5d5d5;
  display: block;
  margin: 0 auto;
}

.photo-container {
  background-color: #666677;
  border-radius: 8px;
  padding: 15px 0px 15px 0px;
}

.sort-container {
  background-image: url("/media/sort-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  border-radius: 8px;
  padding: 5px 0px 15px 0px;
}

.site-title-container {
  background-image: url("/media/title-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 15px 15px 5px 15px;
}

.sort-button-active,
.sort-button-active:hover,
.sort-button-active:focus {
  color: #77ff88;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background-color: #222222;
  box-shadow: none;
  color: #d5d5d5;
}

.dropdown-menu {
  background-color: #222222;
  color: #d5d5d5;
  max-height: 500px;
  overflow-y: auto;
  margin: 0 auto;
}

.dropdown-item {
  padding: 0.25rem 1rem;
  color: #d5d5d5;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #000000;
  color: #d5d5d5;
}

.dropdown-menu::-webkit-scrollbar {
  width: 5px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background-color: #000000;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #222222;
  border-radius: 5px;
}

.dropdown-menu {
  scrollbar-width: thin;
  scrollbar-color: #222222 #000000; /* thumb and track color */
}

.modal-photo {
  max-height: 90vh;
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  margin-inline: auto;
}



