{% extends 'base.html' %}
{% block body %}

<h1>About Team Us Photo</h1>

<p>In the beginning of the summer of 2022 I, David Amlaw, began scanning a bunch of old photographs for my mother.
I was trying to figure out a good way to organize them for her when it occurred to me that I could make a photo album site
not just for my mom's pictures, but for anyone we invite to teamusphoto who wants to share, tag, and organize their photos and
have them accessible online. This is basically a photo storing, organizing, and sharing site for Crystal Leavitt, David Amlaw, and
our immediate friends and family.</p>

<p>These pictures are not public.  Only members can see them.  The core of the membership starts with Crystal and I, our parents, our
children, and any close friends or family that is interested in sharing photos revolving around the members of the site.  If you go to
the members page you will see a list of everyone who has registered so far.  If there are people missing from this list, please feel
free to reach out to them and let them know that this resource is here.  I plan to keep the site up for some time, and when that
time is up, hopefully somebody will take it over for me.  The goal is to have a well organized, well maintained collection of
photographs for all of us to enjoy.  So please upload as many photos as you like of your direct family and don't
forget to include plenty of pictures of yourself or anyone that is a member.</p>

<h1>Adding Photos</h1>

<p>It is my intention for every member to be able to add photos.  On the top navigation bar in gold there is a link to Add Photo.
Simply click on that link and you will be taken to the add photo page.  The first thing to do is click on the image button and browse
your computer for the picture you want to add.  Select it and you will see a preview in the box below.  Don't worry if the preview
is cropped, it will not be when you add it to the site.  Add a short title and a more lengthy description.  Select the year the photo
was taken, and this is difficult because a lot of times all we can really do is guess.  Anyhow give your best guess, and if you really
do not have any idea you can select '?' which means unknown.</p>

<p>Next comes the people and the tags.  People is simply the people in the photo.  Full names seperated by commas, nothing else.
Personally I don't think it is necessary to enter all the people in the photos; just the ones that are members or directly related to a member.
Of course if you feel the person is like family feel free to put there name in the People field.
Finally Tags.  Tags are just other things that may be of interest in the photograph, such as places, events, or anything specific or
unusual.  If there is already a tag similar to what you were thinking try to use the tag that is already there.  You can select it from
the dropdown menu below the tags field.</p>

<p>Don't be shy about adding photos.  The more the better.</p>

<h1>Editing Photos</h1>

<p>If you select a photo from the main list it will bring you to a detail page where you will notice a yellow button that says edit photo.
 I want everyone to feel free to edit a photo if you notice something wrong in the title, description, what year it was, the people in it,
even if there is a tag you want to add.  I know for a fact I have already added hundreds of photos and I had to do a lot of guessing. So
if we all can edit photos and make them more accurate that is a good thing.</p>

<p>When you edit a photo just try to be as non-invasive as possible and only change the parts that are incorrect.</p>

<h1>Comments and Favorites</h1>

<p>I also put in a section for making comments and marking photos as a favorite.  These can both be done in the photo detail page.
If you click on your name in the navigation bar it will dropdown a link to favorites.  This will bring you to all the photos you
marked as favorites.  Also in the members section you can click on a member's name to see the photos they uploaded, or click on
their favorites to see their favorite photos.</p>

<h1>Add Photos, Edit Photos, Leave Comments, Pick Favorites, etc.  The more you get involved the better our collection will be!</h1>



{% endblock %}
